* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'ChosunGs';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../img/seotda_background.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* 상단 정렬 */
    height: 100vh;
    margin-top: 20px; /* 위쪽 여백 추가 */
    text-align: center;
}

h1 {
    text-align: center; /* 텍스트를 가운데 정렬 */
    width: 100%; /* 가로 전체를 차지하도록 설정 */
}

.container-wrapper {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center; /* 가운데 정렬 */
    gap: 20px; /* 컨테이너 사이 여백 */
    width: 100%;
    height: 100%;
    padding: 40px;
}

/*----- 회원 등록 시작 -----*/
.sign-upContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    justify-content: space-between;
}

/* 부모 요소를 flex로 설정 */
#sign_up_form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* span 요소 사이 간격 */
}

/* 입력 필드 그룹 */
.input-group {
    display: flex;
    flex-direction: column; /* 내부 요소를 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    gap: 5px;
    width: auto;
}

/* 라벨 스타일 */
.label-signup {
    display: inline-block;
    width: 64px; /* 크기 자동 조정 */
    text-align: center;
}

/* 입력 필드 스타일 */
input {
    width: 250px; /* 입력 필드 가로 길이 증가 */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 버튼 스타일 */
.SignupButton {
    margin-top: 30px;
    width: 120px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 41.4px;
}

button:hover {
    background-color: #0056b3;
}


button {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
}
